alias etch="sudo vi /etc/hosts"
alias vrc="vi ~/dotfiles/.vimrc"
alias zrc="vi ~/dotfiles/.zshrc"
alias vssh="~/Code/Homestead && vagrant ssh"
alias vup="~/Code/Homestead && vagrant up"
alias vsus="~/Code/Homestead && vagrant suspend"
alias vpro="~/Code/Homestead && vagrant provision"
alias hyam="vi ~/Code/Homestead"
alias ll='ls -lh'
alias dev='~/Code/dev'
alias glow-serve='Code/dev/the-glow-site/api-server && nodemon --exec babel-node server'
alias popt='~/Code/dev/popeye/wp-content/themes/popeye_theme_dev'
alias popssh='~/Code && ssh -i popeye.pem ec2-user@54.208.119.247'
alias mos='/Users/adrienhobbs/.mos/bin/mos'
alias glowtheme='~/Code/dev/weareglow-2017/wp-content/themes/glow-theme'
alias glowthemedev="glowtheme && npm run watch"
alias glowcreds='vi ~/Code/dev/weareglow-2017/wp-config-glow-creds.php'
alias flashmos='mos build --arch esp32 && mos flash'
alias art='php artisan'
alias fbdf="firebase deploy --only functions"
alias python="python3"
alias compdev="dev && cd composite-admin"
alias sh="history | grep"